
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rubik+Doodle+Shadow&display=swap');
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.site-logo{
  width:100px;
  height:100px;
  transform: skew(-20deg);
  box-shadow:5px 0 black;
}
.importedfont{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}



/* Swiper Navigation Arrows */
/* .swiper-button-prev, .swiper-button-next {
  color: rgb(213, 108, 108); 
  background: rgba(255, 0, 0, 0.7); 
  width: 10px;
  height: 10px;
  border-radius: 100%;
  font-size: 0; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
/* }


.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px;  */

/* } */

/* Hover effect */
/* .swiper-button-prev:hover, .swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.9);
} */
