
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rubik+Doodle+Shadow&display=swap');
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.site-logo{
  width:100px;
  height:100px;
  transform: skew(-20deg);
  box-shadow:5px 0 black;
}
.importedfont{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
.otp::-webkit-input-placeholder{
  text-align: center;
}
.backdrop{
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.searchbarList{
  display:block;
  position: absolute;
  padding:10px ;
  top: 100%;
  left: 0;
  width: 100%;
  max-height:200px;
  overflow-y:auto;
  scroll-behavior: smooth;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}
.searchbarList>li{
  margin:10px;
}

/* Swiper Navigation Arrows */
/* .swiper-button-prev, .swiper-button-next {
  color: rgb(213, 108, 108); 
  background: rgba(255, 0, 0, 0.7); 
  width: 10px;
  height: 10px;
  border-radius: 100%;
  font-size: 0; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
/* }


.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px;  */

/* } */

/* Hover effect */
/* .swiper-button-prev:hover, .swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.9);
} */
